.modal-wrapper {
    position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: rgba(0, 0, 0, 0.5);
     
     /* display: none; */
     display: flex;
     align-items: center;
     justify-content: center;
     transition: 1s ease;
}

.hide-modal {
    margin-top: -10000px;
    display: none;
}

.show-modal {
    margin-top: 0px;
    display: flex;
}

.modal-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    
    background-color: var(--color-white-fixed);
    width: 47.563rem;
    max-width: 95%;
    min-height: 28.75rem;
    padding: 40px 24px;
    border-radius: 8px;

    position: relative;
    /* margin-top: -10000px; */
}

.modal-card .close{
    color: var(--color-grey-3);
    background-color: var(--color-grey-5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
    font-size: var(--font-title-2);
    font-family: 'Nunito', sans-serif;

    display: flex; 
    align-items: center; 
    justify-content: center;

    position: absolute;
    right: 15px;
    top: 11px;
}

.modal-card .close:hover {
    cursor: pointer;
}

.modal-card .user-modal {
    margin-top: 0px;
}

.show {
    animation: 1s show;
}

@keyframes show {

    0% {
    transform: translateY(-100%);
    }
    
    100%{
    transform: translateY(0);
    }
}

@keyframes hide {
    0%{
        transform: translateY(0);
        }
    100% {
    transform: translateY(-200%);
    }

}

.hide {
    animation: 1s hide;
}

.hide-wrapper {
    background-color: rgba(0, 0, 0, 0.0);;
}